input{
    width: 100%;
    &.ng-invalid{
        &.ng-touched{
            border: red 1px solid;
        }
    }
}
th{
    &:last-child{
        width: 6.5%;
    }
}

i{
    font-size: 12pt;
    &:last-child{
        margin-left: 10px;
    }
} 

a{
    cursor: pointer;
}