<div class="container">
    <h1>
        Table Form Component
    </h1>
    <div>
        The table form component can render a table with an inline form.
        New rows are added when:<br />
        <ul>
            <li><strong>The enter key is pressed</strong></li>
            <li><strong>The escape key is pressed</strong></li>
            <li><strong>The form loses focus</strong></li>
            <li><strong>The save button is clicked</strong></li>
            <li><strong>Tabbing to the next row</strong></li>
        </ul>
        
        The table form requires a map of control names and validators as an input.<br />
        The control name is the key in the map, and the value is an array of validator functions.<br/>
        A row can only be valid when it meets the requirements of the validator functions in the input map.
    </div>
    <div class="row mb-5">
        <div class="col">
            <app-table-form 
                [controls]="demo1" 
                (rowCreated)="onRowCreated($event)" 
                (rowUpdated)="onRowUpdated($event)"
                (rowDeleted)="onRowDeleted($event)"
                (invalidRow)="onInvalidRow($event)">
            </app-table-form>
        </div>
    </div>

    <div>
        If a map of control names and validator functions is not passed in as an input to the table form component, then the component won't initialize.
    </div>
    <div class="row mb-5">
        <div class="col">
            <app-table-form></app-table-form>
        </div>
    </div>

    <div>
        The amount of headers/columns in the table is determined by the amount of key value pairs in the controls map. <br/>
    </div>

    <div class="row mb-5">
        <div class="col">
            <app-table-form 
                [controls]="demo2"
                (rowCreated)="onRowCreated($event)" 
                (rowUpdated)="onRowUpdated($event)"
                (rowDeleted)="onRowDeleted($event)"
                (invalidRow)="onInvalidRow($event)">
            </app-table-form>
        </div>
    </div>
    
    <div>
        It works with any number of columns in the table.
    </div>
      
    <div class="row mb-5">
        <div class="col">
            <app-table-form 
                [controls]="demo3"
                (rowCreated)="onRowCreated($event)" 
                (rowUpdated)="onRowUpdated($event)"
                (rowDeleted)="onRowDeleted($event)"
                (invalidRow)="onInvalidRow($event)">
            </app-table-form>
        </div>
    </div>

    <div>
        An array of objects can optionally be passed to the component as an input to populate the table with pre defined data.<br/>
        Key names in the object must match the control names in the map or else these keys will not be shown on the table.
    </div>
    <div class="row mb-5">
        <div class="col">
            <app-table-form 
                [controls]="demo4" 
                [array]="demoArray"
                (rowCreated)="onRowCreated($event)" 
                (rowUpdated)="onRowUpdated($event)"
                (rowDeleted)="onRowDeleted($event)"
                (invalidRow)="onInvalidRow($event)">
            </app-table-form>
        </div>
    </div>

    <div>
        An event emitter emits the value of a row if an event occurs.<br/>
        There is a dedicated event emitter for each of these possible actions:<br/>
        <ul>
            <li><strong>Creating a row</strong></li>
            <li><strong>Updating a row</strong></li>
            <li><strong>Deleting a row</strong></li>
            <li><strong>Invalid row upon clicking save</strong></li>
        </ul>
        You can write your own methods to react to these events as you see fit.<br/>
        In this demo it reacts to these events by printing them out on the screen, but you could also make calls to an endpoint
        passing the row value as the request body. Its up to you to decide.
    </div>
    <div class="row mb-3">
        <div class="col">
            {{lastRowCreated ? 'Last created row: ' + lastRowCreated : ''}}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{lastRowUpdated ? 'Last updated row: ' + lastRowUpdated : ''}}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{lastRowDeleted ? 'Last deleted row: ' + lastRowDeleted : ''}}
        </div>
    </div>
</div>